## Settings file was created by plugin Rusty's Retirement Proton Overlay Fix v1.0.5
## Plugin GUID: mrrp.rustys.protonoverlayfix

[Fixes]

## Forces the selected transparency mode.
# Setting type: Boolean
# Default value: true
ForceTransparencyMode = true

## 0 = black color-key, 1 = alpha, 2 = green color-key, 3 = plain/cropped window.
# Setting type: Int32
# Default value: 3
ForcedTransparencyMode = 3

[Window]

## Moves the game window into a visible position after startup.
# Setting type: Boolean
# Default value: true
MoveWindowOnStartup = true

## Attempts to keep the game window above other windows.
# Setting type: Boolean
# Default value: true
ForceAlwaysOnTop = true

## TopLeft, TopCenter, TopRight, Center, BottomLeft, BottomCenter, BottomRight.
# Setting type: String
# Default value: BottomCenter
Anchor = BottomCenter

## Extra horizontal offset in pixels.
# Setting type: Int32
# Default value: 0
OffsetX = 0

## Extra vertical offset in pixels.
# Setting type: Int32
# Default value: 0
OffsetY = 0

## Seconds to wait before moving the window.
# Setting type: Single
# Default value: 3
StartupDelay = 3

## How many times to re-apply startup positioning.
# Setting type: Int32
# Default value: 5
MoveAttempts = 5

## Seconds between startup move attempts.
# Setting type: Single
# Default value: 1
MoveAttemptInterval = 1

